.title {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center !important;
    padding-left: 50px !important;
}